@page "/counter"
@inject ISnippetService snippetService
@inject ITagService tagService

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<ul>
    @foreach (var category in categoriesWithLanguages)
    {
        <li>
            @category.Key:
            <ul>
                @foreach (var language in category.Value)
                {
                    <li>@language</li>
                }
            </ul>
        </li>
    }
</ul>


<hr/>

@foreach (var language in languages)
{
    <li>@language</li>
}

<hr/>

@foreach (var tag in tags)
{
    <li>@tag.Name</li>
}

@code {
    private int currentCount = 0;
    private List<Tag> tags = [];
    private List<string?> languages = [];
    private Dictionary<string, List<string?>> categoriesWithLanguages = [];

    private void IncrementCount()
    {
        currentCount++;
        tags.RemoveAt(currentCount);
    }
    protected override async Task OnInitializedAsync()
    {
        var result = await tagService.GetAllTags();
        var langResult = snippetService.GetLanguages();
        var catResult = snippetService.GetAllCategoriesWithLanguages();

        if (result.IsSuccess && langResult.IsSuccess && catResult.IsSuccess)
        {
            tags = result.Data;
            languages = langResult.Data;
            categoriesWithLanguages = catResult.Data;
        }
        else
        {
            Console.WriteLine(result.Error);
        }
    }
}
