@inject TagStateService TagStateService
@inject LanguageStateService LanguageStateService
@inject NavigationManager NavigationManager


@* Alyaws use this component (SnippetGridItem) inside a MudGrid *@

<MudItem xs="12" sm="6" md="4">
    <MudCard Style="background-color: rgba(0, 129, 175, 0.05);" Outlined="true">
        <MudCardHeader>
            <CardHeaderContent>
                <MudLink Typo="Typo.h6"
                Href="@($"snippets/{SnippetDto?.Slug}")"
                Style="@($"color:{CodeStashColors.Primary}")">
                    @SnippetDto?.Title
                </MudLink>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            <MudText>@SnippetDto?.Description</MudText>
            <div class="mt-2">
                @if (SnippetDto?.Tags is not null && SnippetDto.Tags.Count > 0)
                {
                    @foreach (var tag in SnippetDto.Tags)
                    {
                        <MudChip Size="Size.Small"
                        OnClick="@(() => ViewSnippetsByTag(new Tag{Id=tag.Id, Name=tag.Name}))"
                        T="string"
                        Style="@($"background-color:rgba(52, 211, 153, 0.1); color:{CodeStashColors.Primary}; margin: 2px;")">
                            @tag.Name
                        </MudChip>
                    }
                }
            </div>
        </MudCardContent>

        <MudDivider Style="@($"border-color:{CodeStashColors.Primary40}")" />

        <MudCardActions Class="d-flex justify-space-between">
            <MudLink Style="text-transform:lowercase"
            Class="cursor-pointer"
            Href="@($"snippets/authors/{SnippetDto?.AuthorDisplayName}")"
            Color="Color.Primary">
                <strong>@@@SnippetDto?.AuthorDisplayName</strong>
            </MudLink>

            <MudText Class="d-flex gap-1 align-center justify-center">
                <MudIcon Icon="@Icons.Material.Outlined.Visibility" Size="Size.Small" />
                @SnippetDto?.ViewCount
            </MudText>

            <MudButton
                Size="Size.Small"
                OnClick="@(() => ViewSnippetsByLanguage(SnippetDto?.Language ?? string.Empty))"
                Variant="Variant.Outlined"
                Color="Color.Tertiary">
                @SnippetDto?.Language
            </MudButton>
        </MudCardActions>
    </MudCard>
</MudItem>

@code {
    [Parameter]
    public SnippetDto? SnippetDto { get; set; }

    private void ViewSnippetsByTag(Tag tag)
    {
        TagStateService.SetSelectedTag(tag);
        NavigationManager.NavigateTo($"/snippets/tags/{SlugGenerator.GenerateSlug(tag.Name)}");
    }

    private void ViewSnippetsByLanguage(string language)
    {
        LanguageStateService.SetSelectedLanguage(language);
        NavigationManager.NavigateTo($"/snippets/languages/{SlugGenerator.GenerateSlug(language)}");
    }
}
