@using CodeStash.Application.Filters
@inherits LayoutComponentBase
@inject IJSRuntime JS
@inject ISnippetService SnippetService

<MudThemeProvider Theme="csTheme" @ref="@_themeProvider" @bind-IsDarkMode="@_isDarkMode" />
<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
    <MudAppBar Class="d-flex justify-space-between cs-appbar border-b"
        Style="@($"backdrop-filter: blur(5px);border-color:{CodeStashColors.Primary40};background-color:transparent")"
        Elevation="2">
        <MudIconButton Icon="@Icons.Material.Filled.Menu"
                Class="d-md-none"
                Color="Color.Inherit" Edge="Edge.Start"
                OnClick="@((e) => DrawerToggle())" />

        <Logo />

        <MudSpacer />

        @* Sign in link *@
        <MudLink Href="/login" 
                Underline="Underline.None"
                Class="rounded-pill sign-in d-block px-4 py-2 border"
                Color="Color.Primary">
            Sign In
        </MudLink>

    </MudAppBar>
    <MudDrawer @bind-Open="@_drawerOpen" Class="pt-10 border-r" Style="@($"border-color:{CodeStashColors.Primary40}")">
        <MainNavMenu/>
    </MudDrawer>
    <MudMainContent Class="px-4">
        @Body
    </MudMainContent>
</MudLayout>

@code {
    private MudThemeProvider _themeProvider = new();
    bool _isDarkMode = true;
    bool _drawerOpen = true;
    private string _searchTerm = string.Empty;

    MudTheme csTheme = CodeStashThemes.DarkTheme;

    async Task<IEnumerable<string>> FindSnippets(string value, CancellationToken token)
    {
        await Task.CompletedTask;
        throw new NotImplementedException();
    }

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
 